name: Build and publish release binaries for Linux

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.22"

    - uses: mlugg/setup-zig@v2
      with:
        version: "0.13.0"

    - name: Test
      run: go test -v ./...

    - name: Build x86_64 Linux
      run: GOOS=linux GOARCH=amd64 CGO_ENABLED=1 CC="zig cc -target x86_64-linux-musl" go build -o timew-sync-server-x86_64-linux

    - name: Build aarch64 Linux
      run: GOOS=linux GOARCH=arm64 CGO_ENABLED=1 CC="zig cc -target aarch64-linux-musl" go build -o timew-sync-server-aarch64-linux

    - name: Release
      uses: softprops/action-gh-release@v2.4.2
      with:
        files: |
          timew-sync-server-x86_64-linux
          timew-sync-server-aarch64-linux
